@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply subpixel-antialiased;
    font-size: 16px;
    font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white;
  }
  .dark body {
    @apply text-gray-100 bg-dark;
  }

  .dark hr {
    @apply border-gray-900;
  }

  .dark .lead {
    @apply text-gray-400;
  }
}

@layer components {
  .sidebar {
    @apply select-none md:border-r;
  }
  .sidebar ul ul {
    @apply relative ml-5;
  }
  .sidebar a:focus-visible,
  .sidebar button:focus-visible {
    @apply ring;
  }
  .sidebar .active-anchor {
    @apply font-semibold text-gray-900 dark:text-white;
  }
  .sidebar li.active > a {
    @apply font-semibold text-black bg-gray-200;
  }
  .dark .sidebar li.active > a {
    @apply text-white bg-gray-800;
  }
  .sidebar button,
  .sidebar a {
    @apply block w-full p-2 mt-1 text-base text-left text-gray-600 no-underline rounded outline-none select-none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  .dark .sidebar button,
  .dark .sidebar a {
    @apply text-gray-500;
  }
  .sidebar a:hover,
  .sidebar button:hover {
    @apply text-gray-900 bg-gray-100;
  }
  .dark .sidebar a:hover,
  .dark .sidebar button:hover {
    @apply text-white bg-gray-900;
  }
  .subheading-anchor {
    margin-top: -84px;
    display: inline-block;
    position: absolute;
    width: 1px;
  }

  .subheading-anchor + a:hover .anchor-icon {
    opacity: 1;
  }
  .anchor-icon {
    opacity: 0;
    @apply ml-2 text-gray-500 select-none;
  }
  .dark .anchor-icon {
    @apply text-gray-700;
  }

  /* Navbar */
  .nextra-container nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
  }
  .nextra-container nav a:focus,
  .nextra-container nav summary:focus {
    @apply outline-none select-none;
  }
  .nextra-container nav a:focus-visible,
  .nextra-container nav summary:focus-visible {
    @apply outline-none select-none ring;
  }

  /* Search */
  .nextra-search input {
    @apply text-gray-900 border-gray-300;
  }
  .dark .nextra-search input {
    @apply text-gray-100 border-gray-800 bg-dark;
  }
  .nextra-search input::placeholder {
    @apply text-gray-400;
  }
  .dark .nextra-search input::placeholder {
    @apply text-gray-700;
  }
  .nextra-search ul {
    @apply overflow-hidden text-gray-100 list-none bg-white border border-gray-300 rounded shadow-lg divide-gray-300;
  }
  .dark .nextra-search ul {
    @apply text-gray-100 border-gray-700 bg-dark divide-gray-700;
  }
  .nextra-search ul li {
    @apply text-gray-800;
  }
  .nextra-search ul li.active,
  .nextra-search ul a:focus li {
    @apply bg-gray-200;
  }
  .dark .nextra-search ul li {
    @apply text-gray-300;
  }
  .dark .nextra-search ul li.active,
  .dark .nextra-search ul a:focus li {
    @apply bg-gray-800;
  }
  .nextra-search ul li .highlight {
    @apply bg-yellow-300;
  }
  .dark .nextra-search ul li .highlight {
    @apply bg-yellow-700;
  }
  .search-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  .nextra-search.nextra-stork ul {
    @apply left-0 overflow-auto md:-left-80 md:right-0;
    max-height: min(calc(100vh - 80px), 400px);
    max-width: min(calc(100vw - 2rem), calc(100% + 20rem));
    width: 100vw;
  }

  /* Locale */
  .locale-switch summary::-webkit-details-marker {
    content: '';
    display: none;
  }
  .locale-switch summary::marker {
    content: '';
    display: none;
  }
  .locale-switch[open] summary:before {
    content: ' ';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    cursor: default;
    background: transparent;
  }
  .locale-switch .locale-dropdown {
    position: absolute;
    z-index: 11;
  }

  .table-container {
    overflow: auto;
  }

  .contains-task-list {
    @apply ml-0 list-none;
  }

  .contains-task-list input[type='checkbox'] {
    @apply mr-1;
  }

  pre .prism-code {
    --c-highlight: #cce0f5;
  }
  .dark pre .prism-code {
    --c-highlight: #3d4b61;
  }
  pre .prism-code .token.plain,
  pre .prism-code .token.builtin,
  pre .prism-code .token.char,
  pre .prism-code .token.constant {
    color: #000 !important;
  }
  .dark pre .prism-code .token.plain,
  .dark pre .prism-code .token.builtin,
  .dark pre .prism-code .token.char,
  .dark pre .prism-code .token.constant {
    color: #fff !important;
  }
  pre .prism-code .token.string,
  pre .prism-code .token.url,
  pre .prism-code .token.attr-value {
    color: #028265 !important;
  }
  .dark pre .prism-code .token.string,
  .dark pre .prism-code .token.url,
  .dark pre .prism-code .token.attr-value {
    color: #20bb98 !important;
  }
  pre .prism-code .token.punctuation,
  pre .prism-code .token.operator {
    color: #333 !important;
  }
  .dark pre .prism-code .token.punctuation,
  .dark pre .prism-code .token.operator {
    color: #bbb !important;
  }
  pre .prism-code .token.number,
  pre .prism-code .token.function,
  pre .prism-code .token.tag:not(.script) {
    color: #0076ff !important;
  }
  .dark pre .prism-code .token.number,
  .dark pre .prism-code .token.function,
  .dark pre .prism-code .token.tag:not(.script) {
    color: #1e86ff !important;
  }

  /* RTL */
  .nextra-container.rtl {
    direction: rtl;
  }
  .nextra-container.rtl .sidebar ul ul {
    @apply ml-0 mr-5;
  }
  .nextra-container.rtl .sidebar button,
  .nextra-container.rtl .sidebar a {
    @apply text-right;
  }
  .nextra-container.rtl article blockquote {
    @apply pl-0 pr-6 border-l-0 border-r-2;
  }
  .nextra-container:not(.rtl):not(.page) article.docs-container {
    @apply xl:pr-8;
  }
  .nextra-container.rtl:not(.page) .docs-container {
    @apply xl:pl-8;
  }
  @screen md {
    .nextra-container:not(.page) article.docs-container .bleed.full {
      margin-left: calc(-50vw + 50% + 8rem);
      margin-right: calc(-50vw + 50% + 8rem);
    }
    .nextra-container.page article.docs-container .bleed.full {
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
    }
  }
  @screen xl {
    .nextra-container:not(.rtl):not(.page) article.docs-container .bleed.full {
      margin-left: calc(50% - 50vw + 16rem);
      margin-right: calc(50% - 50vw);
    }
    .nextra-container.rtl:not(.page) .docs-container .bleed.full {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw + 16rem);
    }
    .nextra-container.page .docs-container .bleed.full {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }
  }
  .nextra-container.rtl code {
    direction: ltr;
  }
  .nextra-container.rtl .anchor-icon {
    @apply inline-block ml-0 mr-2;
  }
  .nextra-container.rtl article ul,
  .nextra-container.rtl article ol {
    @apply ml-0 mr-6;
  }
  .nextra-container.rtl .sidebar {
    @apply md:border-l;
  }
}
